.header {
    padding-top: 25px 0 0 0;
}

.nav {
    width: 100%;
}

.nav::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: 32px 0 0 0;
    background-color: var(--gray_font);
}

.nav-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nav-link {
    color: var(--gray_font);
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    right: 100%;
    bottom: -10px;
    background-color: var(--main_black);
    transition: right .22s;
}

.nav-link:hover {
    color: var(--main_black);
}

.nav-link:hover::after {
    right: 0;
}